:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


body{
    background-color: var(--black-text);
}
header{
    background-image: url(imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.nav{
    top: 50px;
    position: relative;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.list{
    display: flex;
}
.list > .list-nav{
    margin-right: 50px;
    list-style: none;
}
.list-nav > a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
.meta-mask{
    display: block;
    padding-left: 15px;
    padding-right: 20px;
    height: 45px;
    background-color: var(--text-color);
    border-radius: 5px;
}
.meta-mask > img{
    padding-top: 8px;
}
.meta-mask > a{
    color: var(--black-text);
    position: relative;
    top: -8px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.info-nav{
    position: relative;
    max-width: 100%;
    justify-content: space-around;
    margin: auto;
    top: 150px;
    display: flex;
    color: var(--text-color);
}
.text-mercado{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
}
.img-artistas{
    
    display: flex;
    font-size: 15px;
    font-weight: bold;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}
.text-art{
    padding-top: 5px;
}
.text-art > p{
    margin-bottom: 5px;
}
.text-art > span{
    padding-left: 13px;
}

.nav-column2{
    margin-left: -100px;    
}
.nav-column2 > h1{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}

.nav-column2 > h2{
    color: var(--color-logo);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}


.nav-gallery > .list1-gallery{
    max-width: 1320px;
    margin: auto;
    margin-top: 200px;
    display: flex;
}
.list1-gallery > li{
    margin-right: 25px;
}
.nav-gallery > .list2-gallery{
    max-width: 1320px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 100px;
    display: flex;
 }
 .list2-gallery > li{
    margin-right: 25px;
}
li > img{
    border: 1px solid white;
    width: 350px;
}




.aside-container{
    max-width: 1440px;
    position: relative;
    margin: auto;
    background-color: var(--body-background);
    display: flex;
    padding-top: 100px;
}
.numbers{
    color: var(--text-color);
    margin-right: 250px;
    margin-bottom: 250px;
   
}

.numbers-linha{
    border: 1px solid var(--subtitle-color);
    position: relative;
    top: -101px;
    height: 599px;
}

.numbers::after {
    background-color: var(--subtitle-color);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    align-items: center;
    width: 312%;
    top: 182px;
}
.numbers > h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    left: 200px;
    margin-bottom: 35px; 
    top: 90px;
}
.numbers > span{
    top: 50px;
    font-family: 'Montserrat', sans-serif;
    left: 200px;
    position: relative;
    font-weight: 500;
    color: var(--subtitle-color);
    font-size: 18px;
}

.card-box{
   
    display: flex;
}

.card1{
    font-family:  'Montserrat', sans-serif;
    color: var(--text-color);
    position: relative;
    width: 370px;
    margin-left: 50px;
    margin-right: 90px;
    top: -50px;
}
.card1 > p{
    font-size: 20px;
    line-height: 25px;
}
.card1 > span{
    position: relative;
    font-size: 20px;
    top: 40px;
}
.conteudo > img{
    position: relative;
    top: 50px;
    width: 100%;
}

section{
    background-color: var(--body-background);
    max-width: 1440px;
    margin: auto;
}

.text-section {
    display: flex;
}
.text-section > h1{
    margin-left: 190px;
    font-size: 40px;
    color: var(--color-logo);
    font-family:  'Montserrat', sans-serif;
}
.text-section > span{
    color: var(--text-color);
    font-size: 40px;
    margin-left: 10px;
    font-family:  'Montserrat', sans-serif;
}
.astronaltas{
    display: flex;
    margin-top: 100px;
}
.linha{
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 100px;
}
.linha > h2{
    color: var(--text-color);
    font-family:  'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.linha > h2 > img{
    margin-left: 170px;
}
.linha-text{
    display: flex;
}
.linha-text > p{
    color: var(--subtitle-color);
    font-family:  'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.linha-text > span{
    color: var(--color-logo);
    margin-left: 185px;
    font-family:  'Montserrat', sans-serif;
}
.linha > img{
    margin-bottom: 30px;
}
.linha-text3{
    display: flex;
}
.linha-text3 > p{
    color: var(--subtitle-color);
    font-family:  'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.linha-text3 > span{
    color: var(--color-logo);
    font-family:  'Montserrat', sans-serif;
    margin-left: 160px;
}
.linha-text4{
    display: flex;
}
.linha-text4 > p{
    color: var(--subtitle-color);
    font-family:  'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.linha-text4 > span{
    color: var(--color-logo);
    font-family:  'Montserrat', sans-serif;
    margin-left: 150px;
}

.linha-section{
    position: relative;
    border: 1px solid var(--subtitle-color);
    height: 600px;
}



nav{
    max-width: 1440px;
    margin: auto;
    background-color: var(--body-background);
}
.text-nav{
    text-align: center;
    display: flex;
}
.text-nav > h2{
    font-size: 40px;
    margin-right: 15px;
    margin-left: 555px;
    margin-bottom: 50px;
    color: var(--text-color);
    font-family:  'Montserrat', sans-serif;
}
.text-nav > span{
    color: var(--color-logo);
    font-size: 40px;
    font-family:  'Montserrat', sans-serif;
}
.card-artistas{
    display: flex;
    margin-left: 190px;
    margin-right: 165px;
    justify-content: space-between;
    cursor: pointer;
}
.artistas{
    background-color: var(--card-color);
    display: flex;
    
    margin-bottom: 100px;
    width: 255px;
    height: 105px;
}
.artistas > img{
    left: 20px;
    position: relative;
    width: 75px;
    height: 75px;
    top: 15px;
    margin-right: 40px;
}
.card-artistas-text > p{
    color: var(--text-color);
    font-family:  'Montserrat', sans-serif;
    margin-top: 20px;
}
.card-artistas-text > span{
    position: relative;
    color: var(--color-logo);
    font-family: 'Montserrat', sans-serif;
    top: 10px;
}

.artistas:hover{
    background-color: var(--color-logo);
    transition: 0.5s;
}
.artistas > .card-artistas-text > span:hover{
    color: var(--text-color);
}
.todos-artitas{
    margin-left: 190px;
    display: flex;
}
.todos-artitas > a{
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color);
    top: -55px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-left: 440px;
}
.todos-artitas > img{
    position: relative;
    top: -55px;
    margin-left: 10px;
}

footer{
    background-color: var( --card-color);
    max-width: 1440px;
    margin: auto;
}
.footer-logo{
    margin-left: 190px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo::after{
    background-color: var(--subtitle-color);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    align-items: center;
    width: 115%;
    top: 50px;
    left: -190px;
}
.footer-logo > .seta{
    margin-left: 780px;
    background-color: var(--color-logo);
    padding: 10px;
}
.footer-logo > .seta > .img-seta{
    position: relative;
    top: 5px;
}
.footer-info{
    display: flex;
}
.novidades > h2{
    margin-left: 190px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}
.novidades > p{
    color: var(--color-logo);
    margin-left: 190px;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.novidades > input{
    margin-left: 190px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: var(--body-background);
    border: none;
}
.novidades > a {
    margin-left: 390px;
    top: -40px;
    position: relative;
    display: flex;
    background-color: var(--text-color);
    height: 40px;
    width: 75px;
    text-decoration: none;
}
.novidades > a > p{
    margin-left: 10px;
    margin-top: 7px;
    font-size: 20px;
    color: var(--black-text);
    font-family: 'Montserrat', sans-serif;
}
.novidades::after{
    background-color: var(--subtitle-color);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 305%;
    top: 25px;
}
.barra-footer{
    position: relative;
    left: 41px;
    top: -58px;
    height: 270px;
    border: 1px solid var(--subtitle-color);
}
.list-links{
    display: flex;
    margin-left: 150px;
}
.links-sobre{
    margin-right: 100px;
    
}
.link-white{
    color: var(--text-color);
    font-weight: bold;
}
.links-sobre > ul > li{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    list-style: none;
    margin-bottom: 15px;
}
.links-sobre > ul > li > a{
    text-decoration: none;
}
.color-link{
    color: var(--subtitle-color);
    font-weight: bold;
}

.footer-redes-sociais{
    margin-left: 190px;
    display: flex;
}
.footer-redes-sociais > a{
    color: var(--subtitle-color);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.link-redes{
    display: flex;
    margin-bottom: 50px;
    margin-left: 700px;
    list-style: none;
}
.link-redes > .redes > img{
    width: 25px;
    border: none;
    margin-right: 30px;
}